.page-section{

	 background: url(http://p1.pichost.me/i/66/1910819.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 38px;
  
}

#overview{

}